// * Colors
$grey: #212529;
$light-grey: #ced4da;

$grey-140: #10151D;
$grey-120: #181D23;
$grey-80: #343a40;
$grey-60: #495057;
$grey-40: #6c757d;

$light-grey-80: #dee2e6;
$light-grey-60: #e9ecef;
$light-grey-40: #f8f9fa;

// * VARS
$project-card-width: 400px;

