
$black: #000000;
$white: #FFFFFF;

$dark-blue-120: #1D2637;
$dark-blue: #293241;
$dark-blue-80: #65768D;
$dark-blue-60: #9AADC5;
$dark-blue-40: #C9DAEB;
$dark-blue-20: #E3ECF5;

$middle-blue-120: #2C466E;
$middle-blue: #3D5A80;
$middle-blue-80: #6C8EB2;
$middle-blue-60: #94B8D8;
$middle-blue-40: #BFDCF2;
$middle-blue-20: #DEEEF8;

$blue-120: #6F9ABA;
$blue: #98C1D9;
$blue-80: #B4D8E8;
$blue-60: #C7E8F3;
$blue-40: #DDF5FB;
$blue-20: #EDFBFD;

$light-blue-120: #A3D2D8;
$light-blue: #E0FBFC;
$light-blue-80: #E0FBFC;
$light-blue-60: #EDFEFB;

$orange-120: #CC4938;
$orange: #EE6C4D;
$orange-80: #F49978;
$orange-60: #F9B794;
$orange-40: #FDD5B8;
$orange-20: #FEECDB;