@import "./vars";

// * Config
* {
    font-family: "Open Sans", sans-serif;
    color: white;
}

body {
    background-color: $grey-140;
    margin: 0;
    padding: 0;
}

.default-container {
    position: relative;
    // Full screen
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $grey-140;
    z-index: 1;

    .project-list {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__lane {
            height: 100%;
            width: calc(100vw + #{$project-card-width});
            padding: 1rem;
            display: flex;
            gap: 1rem;
            flex-direction: row;
        }
    }

    .project-card {
        background-color: $grey-120;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        height: 100%;
        width: $project-card-width;
        animation: scrollLane 15s linear infinite;

        @keyframes scrollLane {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%); /* Adjust the percentage based on the number of cards */
            }
        }

        &:hover {
            transform: scale(1.01);
        }

        &__title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        &__description {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0.5rem;
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0.5rem;

            &__tag {
                background-color: $grey-80;
                border-radius: 0.25rem;
                padding: 0.25rem 0.5rem;
                margin-right: 0.25rem;
                margin-bottom: 0.25rem;
                font-size: 0.75rem;
                font-weight: 400;
            }
        }
    }
}

.default-content {
    position: relative;
    z-index: 2;
}
