@charset "UTF-8";
@import "./components/circle.css";
* {
  font-family: "Open Sans", sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ff6600;
  border-radius: 10px;
}

i {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #02111b;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 26px;
  border-bottom: #ff6600 solid 2px;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  width: -moz-max-content;
  width: max-content;
}

h3 {
  padding: 0;
  margin: 0;
}

p ul li {
  list-style: none;
}
p ul li::before {
  content: "-";
  padding-right: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/britanniahütte.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 10000px black;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.header__content img {
  height: 230px;
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: #ff6600 4px solid;
  padding: 4px;
  margin-bottom: 1.5rem;
}
.header__content .name {
  font-size: 3rem;
  font-weight: 700;
  color: #ff6600;
  margin: 0;
  padding: 0;
}
.header__content .profession {
  font-size: 1.5rem;
  color: white;
}
.header__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  min-height: 90px;
  border-radius: 50%;
  background-color: #02111b;
  align-self: center;
  margin-bottom: 1rem;
  animation: bounce 2s infinite;
}
.header__arrow__icon {
  font-size: 50px;
}
.header__image-copyright {
  margin: 0.75rem;
  color: #aaa;
}

.navbar {
  display: flex;
  width: 100%;
  z-index: 50;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.navbar.scrolled {
  -webkit-backdrop-filter: blur(20px) !important;
          backdrop-filter: blur(20px) !important;
  position: fixed;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 6rem;
  margin-left: auto;
  list-style: none;
}
.navbar__list__item {
  display: flex;
  align-items: center;
  font-size: 18px;
  border-bottom: transparent solid 2px;
}
.navbar__list__item:hover {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  border-bottom: #ff6600 solid 2px;
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar__list__item > a {
  padding: 1.5rem 1rem 1rem 1rem;
  color: inherit;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6rem;
  margin-bottom: 100px;
}
.content .about-me {
  width: 70rem;
  display: grid;
  align-self: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-items: start;
  background-color: #042033;
}
.content .about-me__title {
  grid-column: 2;
  height: -moz-max-content;
  height: max-content;
}
.content .about-me img {
  grid-column: 1;
  grid-row: 1/6;
  order: 0;
  height: 100%;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .about-me__description {
  grid-column: 2;
  font-size: 19px;
}
.content .about-me__contact {
  border-radius: 20px;
  grid-column: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
  padding: 1.5rem 1rem;
}
.content .about-me__contact__item {
  font-size: 20px;
  width: 49%;
}
.content .about-me__contact__item span:first-child {
  font-weight: bold;
  color: #ff6600;
  margin-right: 0.25rem;
}
.content .about-me__contact__item i {
  margin-left: 0.5rem;
  font-size: 15px;
}
.content .about-me__socials {
  grid-column: 2;
  margin: 0.75rem 0;
}
.content .about-me__socials a {
  text-decoration: none;
  margin-right: 0.75rem;
}
.content .about-me__socials a i {
  font-size: 40px;
}
.content .about-me__socials a i:hover {
  color: #ff6600;
}
.content .skills__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1.5rem;
  padding: 0;
}
.content .skills__list__item {
  width: 500px;
  height: 130px;
  background-color: #042033;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "progress-bar text" "progress-bar description";
  padding: 1rem;
}
.content .skills__list__item__progress-bar {
  grid-area: progress-bar;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .skills__list__item__progress-bar > div {
  margin: 0 !important;
}
.content .skills__list__item__title {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
}
.content .skills__list__item__description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-overflow: ellipsis;
}
.content .projects__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.content .projects__list__item {
  width: 300px !important;
  min-width: 300px;
  background-color: #042033;
  border-radius: 20px;
  overflow: hidden;
}
.content .projects__list__item:hover {
  transform: scale(1.025);
}
.content .projects__list__item__header {
  height: 100px;
  width: 100%;
  background-size: cover;
}
.content .projects__list__item__logo {
  position: relative;
  left: calc(50% - 60px);
  top: 45px;
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: #042033 5px solid;
  background-color: #042033;
}
.content .projects__list__item__text {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 1rem;
  margin-top: 4.5rem;
}
.content .projects__list__item__text__title {
  align-self: center;
}
.content .projects__list__item__text__description {
  -webkit-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
}
.content .projects__list__item__text__description a {
  text-decoration: none;
  font-weight: bold;
  color: #ff6600;
}
.content .projects__list__item__text__repo {
  align-self: flex-end;
  margin-top: auto;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */