@import "../vars.scss";

button.button {
    &--primary {
        background-color: $orange;
        color: $dark-blue;
        border: none;
        padding: 0.75rem;
        font-size: 20px;
        font-weight: 550;
        height: max-content;
        &:hover {
            // background-color: $dark-orange;
            cursor: pointer;
        }
    }
}